
/* --- ############# xxx ############# --- */
*{
  box-sizing: border-box;
}

 
body{
font-family: sans-serif;
width: 83%;
padding: 2em;
margin: auto;
}
 

/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


